{% extends "application.html" %}

{% block html_attribs %} lang="pt-BR" {% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
<div class="container">
   <div class="page-header">
      <h1 class="text-center text-primary">ToDo: Nunca esqueça das suas obrigações</h1>
   </div>
   {% if tasks|length < 1 %} <h4 class="text-center text-warning">Não há tarefas. Crie uma abaixo!</h4>
      {% else %}
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Descrição</th>
               <th>Criada em</th>
               <th>Status</th>
               <th>Categoria</th>
               <th>Ações</th>
            </tr>
         </thead>
         <tbody>
            {% for task in tasks %}
            <tr>
               <td class="align-middle">{{ task.description }}</td>
               <td class="align-middle">{{ task.date_created.date() }}</td>
               <td class="align-middle">{{ task.status }}</td>
               <td class="align-middle">{{ task.category }}</td>
               <td class="align-middle actions">
                  <a class="btn btn-success" href="/update/{{task.id}}">Atualizar</a> |
                  <a class="btn btn-danger" href="/delete/{{task.id}}">Excluir</a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% endif %}

      <form class="form-inline" action="/" method="POST">
         <div class="form-group">
            <label for="description">Descrição: </label>
            <input type="text" class="form-control" name="description" id="description">
            <label for="description">Categoria: </label>
            <input type="text" class="form-control" name="category" id="category">
            <button type="submit" class="btn btn-primary">Adicionar</button>
         </div>
      </form>
</div>
{% endblock %}